@tailwind base;
@tailwind components;
@tailwind utilities;
  

:root {
  --orange: #F19A23;
  --white: #fff;
  --blue: #0C4295;
}

.focus-visible\:ring-slate-950:focus-visible {
  --tw-ring-opacity: 0!important;
}